{% extends "structure/layout-installation.twig" %}

{% block content %}
    <div class="container">
        <div class="col s12" id="application">{% include 'installation/includes/application.twig' %}</div>
        <div class="col s12" id="database">{% include 'installation/includes/database.twig' %}</div>
        <div class="col s12" id="account">{% include 'installation/includes/account.twig' %}</div>
    </div>

{% endblock %}