header,
main,
footer {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header,
	main,
	footer {
		padding-left: 0;
	}
}

.sidenav .logo-container {
	padding: 0 16px;
	height: 64px;
	line-height: 64px;
	font-size: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: content-box;
}
.sidenav .collapsible .collapsible-header {
    text-transform: uppercase;
    height: 64px;
    line-height: 64px;
}
.sidenav .collapsible>li.waves-effect {
    display: block;
}