<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input class="validate" id="first_name" placeholder="Placeholder" type="text"/>
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input class="validate" id="last_name" type="text"/>
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" disabled id="disabled" type="text" value="I am not editable"/>
                <label for="disabled">Disabled</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" id="password" type="password"/>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" id="email" type="email"/>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input class="validate" id="icon_prefix" type="text">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input class="validate" id="icon_telephone" type="tel">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" id="textarea1"></textarea>
                    <label for="textarea1">Textarea</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="datepicker" id="data" type="text"/>
                        <label for="data">Data</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <select>
                        <option disabled selected value="">Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
                <div class="input-field col s12">
                    <select multiple>
                        <option disabled selected value="">Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Materialize Multiple Select</label>
                </div>
                <div class="input-field col s12">
                    <select>
                        <optgroup label="team 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="team 2">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </optgroup>
                    </select>
                    <label>Optgroups</label>
                </div>
                <div class="input-field col s12 m6">
                    <select class="icons">
                        <option disabled selected value="">Choose your option</option>
                        <option data-icon="images/sample-1.jpg" value="">example 1</option>
                        <option data-icon="images/office.jpg" value="">example 2</option>
                        <option data-icon="images/yuna.jpg" value="">example 3</option>
                    </select>
                    <label>Images in select</label>
                </div>
                <div class="input-field col s12 m6">
                    <select class="icons">
                        <option disabled selected value="">Choose your option</option>
                        <option class="left" data-icon="images/sample-1.jpg" value="">example 1</option>
                        <option class="left" data-icon="images/office.jpg" value="">example 2</option>
                        <option class="left" data-icon="images/yuna.jpg" value="">example 3</option>
                    </select>
                    <label>Images in select</label>
                </div>
                <p>
                    <label>
                        <input checked="checked" class="filled-in" type="checkbox"/>
                        <span>Filled in</span>
                    </label>
                </p>
            </form>
        </div>
