{% extends 'structure/layout.twig' %}
{% block content %}
    <section>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        {% include "home/includes/lista.twig" %}
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}