<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>404 - Page Not Found!</title>
    </head>
    <body>
        <h1>404</h1>
        <h2>Page Not Found!</h2>
    </body>
</html>