<!doctype html>
<html>
    <head>
        {% include "structure/meta-tags.twig" %}
    </head>
    <body class="{{ req.controller }} {{ req.method }}">
        <header>
            {% include 'structure/nav-bar.twig' %}
            {% include 'structure/side-bar.twig' %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "structure/scripts.twig" %}
    </body>
</html>