<!doctype html>
<html>
    <head>
        {% include "structure/meta-tags.twig" %}
    </head>
    <body class="{{ req.controller }} {{ req.method }}">
        <nav class="nav-extended  blue-grey darken-4">
            <div class="nav-wrapper">
                <a class="brand-logo">&nbsp;Platypus</a>
                <a class="sidenav-trigger" data-target="mobile-demo" href="#">
                    <i class="material-icons">menu</i>
                </a>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab">
                        <a class="active" href="#application">Application</a>
                    </li>
                    <li class="tab">
                        <a href="#database">Database</a>
                    </li>
                    <li class="tab">
                        <a href="#account">Account</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}

        {% include "structure/scripts.twig" %}
    </body>
</html>