<base href="{{ req.BaseUrl() }}{% if config.languages | length > 1 %}{{ config.language }}/{% endif %}" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=11"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>{{ page.title | default("Titulo") }}</title>
{#
<style type="text/css">
    {{source('css/base.css')}}
</style>
#}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
<link href="{{ req.BaseUrl() }}site/assets/css/style.css" rel="stylesheet" />

