<nav class="nav-fixed  blue-grey darken-4">
    <div class="nav-wrapper">
        <a class="sidenav-trigger left" data-target="sidenav-left" href="#">
            <i class="material-icons">menu</i>
        </a>
        <a class="brand-logo">&nbsp;Platypus</a>
    </div>
</nav>