<!-- Compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/combine/npm/es6-promise@4.2.5,npm/vue@2.5.21,npm/vuex@3.0.1/dist/vuex.min.js,npm/jquery@3.3.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ req.BaseUrl() }}site/assets/js/main.min.js"></script>
<script src="{{ req.BaseUrl() }}site/assets/js/installation.min.js"></script>