<form name="formInstallation" accept-charset="UTF-8" method="post">
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l3">
            <div class="card">
                <div class="card-content">
                    <h5>Account</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="Nome" name="account[nome]" type="text"/>
                            <label for="Nome">Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="username" name="account[username]" type="text"/>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="password" name="account[password]" type="text"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="email" type="email" name="account[email]"/>
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                </div>
                <div class="card-action  right-align">
                    <button class="btn waves-effect waves-light" name="action" type="submit">
                        Salvar
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>