<form name="formApplication" accept-charset="UTF-8" method="post">
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l3">
            <div class="card">
                <div class="card-content">
                    <h5>Application</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="name" type="text" name="app[name]" value="{{config.app.name}}"/>
                            <label for="name">Name</label>
                        </div>
                    </div>
                </div>
                <div class="card-action  right-align">
                    <button class="btn waves-effect waves-light" type="submit">
                        Próximo
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>