<form name="formDatabase" accept-charset="UTF-8" method="post">
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l3">
            <div class="card">
                <div class="card-content">
                    <h5>Database</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="hostname" name="db[host]" type="text" value="{{ config.db.host }}"/>
                            <label for="hostname">Hostname</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="username" type="text" name="db[user]" value="{{ config.db.user }}"/>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="password" type="text" name="db[pass]" value="{{ config.db.pass }}"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" id="dbname" type="text" name="db[dbname]" value="{{ config.db.dbname }}"/>
                            <label for="dbname">Database name</label>
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="submit">
                        Próximo
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>